<h1>Create A New List</h1>

<span class="error"><%= "Something went wrong. Make sure your list has a Title!" if @list && @list.errors.any? %></span>
<form action="/lists" method="POST">
    <label for="title">List Title: </label>
        <input type="text" id="title" name="title"><br>
    <label for="category">List Category: </label>
        <input type="text" id="category" name="category"><br>
	<br>
	<p>You can add up to 10 items in a list. Blank items will not be added. They will be ranked based on the order in which they are added.</p>
    <ol class="new-list">
		  <% 10.times do %>
			<%= '<li><input type="text" name="[list_items][][content]"></li>' %>
		  <%end%>
  	</ol>
  	<button type="submit">Submit</button>

</form>