html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  text-rendering: optimizeLegibility;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace;
}

.navbar {
  margin-bottom: 1.4rem;
  /* font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace; */
}