html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

body {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  text-rendering: optimizeLegibility;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

p.details {
  font-style: italic;
}

span.error {
  font-size: .8em;
}

footer {
  margin-top: 1rem;
}

/*----- Links -----*/
a {
  color: #ed12a8;
}

a.back, a.add, a.bolder {
  font-weight: 600;
}

a:hover {
  color: black;
}

button.edit {
  margin-left: 6rem;
  margin-bottom: 1rem;
}

button.delete {
  font-size: .5rem;
}

button.delete:hover {
  background-color: black;
}

button {
  background-color: white; 
  color: #ed12a8; 
  border: 1px solid #ed12a8;
  padding:  .3rem 1rem .3rem 1rem;
}

button:hover {
  background-color: #ed12a8;
  color: white; 
  border: 1px solid white;
}
/*----- Headers -----*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 400;
}

h2 a {
  font-weight: 400;
}

h4 {
  color: #ed12a8;
}

/*----- Nav Bar -----*/

.navbar-light .navbar-brand span.pink {
  color: #ed12a8;
}

.bg-light {
  background-color: white!important;
}

.navbar-brand {
  font-style: italic;
  font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
  color:rgba(0,0,0,.5);
  text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link:hover {
  /* color: rgba(0,0,0,.9); */
  color: black;
}

.navbar-light .navbar-toggler {
  border-color: #ed12a8;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*----- Lists -----*/
ul.index {
  list-style-type: none;
}

ul.users li a {
  font-weight: 500;
}

ol.user-page {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

ol.show-list {
  margin-left: 1rem;
}