<% if logged_in? %>
    <h1><%= "List of all users" %> </h1>
    <ul class="users">
        <% @users_by_username_asc.each do |user| %>
            <li><a href="/users/<%= user.id %>"><%= user.username %></a></li>
        <% end %>
    </ul>
<% else %>
    <p>You must be <a href="/login">logged in</a> to see all users</p>
<% end %>



