<% if logged_in? %>
    <h1><%= "List of all users" %> </h1>
        <% asc = @users.sort_by { |user| user.username } %>
        <% asc.each do |user| %>
            <p><a href="/users/<%= user.id %>"><%= user.username %></a></p>
        <% end %>

<% else %>
<p>You must be <a href="/login">logged in</a> to see all users</p>
<% end %>



