<h1><%= @user.username %>'s Lists:</h1>

<ul>
    <% @user.lists.each do |list| %>
        <h2><li><a href="/lists/<%=list.id%>"><%= list.title %></a></li></h2>
        <% list.list_items.each do |item| %>
            <li><%= item.content %></li>
        <% end %>
    <% end %>
</ul>



