<div id="user-show">    
    <h1><%= @user.username %>'s Lists:</h1>

    <% if @user.lists.count >= 1 %>
        <ul class="index">
            <% @user_lists.each do |list| %>
                <h2><li><a href="/lists/<%=list.id%>"><%= list.title %></a></li></h2>
                <ol class="user-page">
                    <% list.list_items.each do |item| %>
                        <li><%= item.content %></li>
                    <% end %>
                </ol>
            <% end %>
        </ul>
    <% elsif is_user_owner? %> 
        <p>
            You don't seem to have any lists yet.<br>
            Why don't you add one?
         </p>
    <% else %>
        <p>This user doesn't seem to have any lists yet.</p>
    <% end %>

    <% if is_user_owner? %>
        <button class="add" onclick="window.location.href = '/lists/new';">+ New List</button>
     <% end %>
        
 </div>




