<% if logged_in? %>
    <h1><%= "Categories" %> </h1>
    <ul class="index">
        <% @categories.each do |category| %>
            <li><h5><a href="/categories/<%= category.id %>"><%= category.name %></a></h5></li>
        <% end %>
    </ul>
<% else %>
    <p>You must be <a href="/login">logged in</a> to see all categories</p>
<% end %>
