<h1>Welcome to Top 5<%= ", #{current_user.username}" if logged_in?%>!</h1>

<h4>What is this?</h4>

<p>
    TopFive is a simple CMS that allows you to add, edit and delete lists related to 
    your favorite (and least favorite) media. <br>
    You can also browse other people's <a href="/lists">lists</a>.
 </p>

<p><a href="/signup">Sign Up</a> or <a href="/login">Log In</a> now to try.</p>