<h1>Welcome to Top 5<%= ", #{current_user.username}!" if logged_in?%></h1>

<ul>
    <% if logged_in? %>
        <li><a class="new" href="/lists/new">Add a new List</a></li>
        <li><a href="/lists">View all Lists</a></li>
        <li><a href="/users/<%= current_user.id %>">View my Lists</a></li>
        <li><a href="/logout">Logout</a></li>
    <% else %>
        <li><a href="/login">Login</a></li> 
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/lists">View all Lists</a></li>
    <% end %>
</ul>